<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CasaDoCodigo</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="cor-primaria">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 cor-primaria">
            <div class="container cor-primaria">
                <a class="navbar-brand cor-primaria font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">
                    CasaDoCodigo
                </a>
                <button class="navbar-toggler cor-primaria" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon cor-primaria"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @*<partial name="_LoginPartial" />*@

                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                    </form>

                    <ul class="navbar-nav flex-grow-1 cor-primaria">

                        <li>
                            <div class="dropdown show">
                                <a class="nav-link btn dropdown-toggle font-weight-bold" asp-area="" asp-controller="Home" asp-action="Privacy" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Programação
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Lógica</a>
                                    <a class="dropdown-item" href="#">Java</a>
                                    <a class="dropdown-item" href="#">.NET</a>
                                    <a class="dropdown-item" href="#">PHP</a>
                                    <a class="dropdown-item" href="#">Games</a>
                                    <a class="dropdown-item" href="#">OO</a>
                                    <a class="dropdown-item" href="#">Funcional</a>
                                    <a class="dropdown-item" href="#">Todos</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="dropdown show">
                                <a class="nav-link btn dropdown-toggle font-weight-bold" asp-area="" asp-controller="Home" asp-action="Privacy" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mobile
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">IOS</a>
                                    <a class="dropdown-item" href="#">Android</a>
                                    <a class="dropdown-item" href="#">Multiplataforma</a>
                                    <a class="dropdown-item" href="#">Outros</a>
                                    <a class="dropdown-item" href="#">Todos</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="dropdown show">
                                <a class="nav-link btn dropdown-toggle font-weight-bold" asp-area="" asp-controller="Home" asp-action="Privacy" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Front-End
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">HTML e CSS</a>
                                    <a class="dropdown-item" href="#">Javascript</a>
                                    <a class="dropdown-item" href="#">Outros</a>
                                    <a class="dropdown-item" href="#">Todos</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="dropdown show">
                                <a class="nav-link btn dropdown-toggle font-weight-bold" asp-area="" asp-controller="Home" asp-action="Privacy" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Infraestrutura
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Web</a>
                                    <a class="dropdown-item" href="#">Dados</a>
                                    <a class="dropdown-item" href="#">Outros</a>
                                    <a class="dropdown-item" href="#">Todos</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="dropdown show">
                                <a class="nav-link btn dropdown-toggle font-weight-bold" asp-area="" asp-controller="Home" asp-action="Privacy" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Business
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Startups</a>
                                    <a class="dropdown-item" href="#">Marketing Digital</a>
                                    <a class="dropdown-item" href="#">Gestão</a>
                                    <a class="dropdown-item" href="#">Agile</a>
                                    <a class="dropdown-item" href="#">Outros</a>
                                    <a class="dropdown-item" href="#">Todos</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="dropdown show">
                                <a class="nav-link btn dropdown-toggle font-weight-bold" asp-area="" asp-controller="Home" asp-action="Privacy" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Design & UX
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3 main-color">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <img src="//cdn.shopify.com/s/files/1/0155/7645/t/232/assets/logo-footer.svg?102" alt="Alternate Text" />
        <div class="container">
            &copy; 2019 - CasaDoCodigo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
