@model CasaDoCodigo.Models.SubcategoriaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>SubCategoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*Inserindo a seleção de categorias*@
            <div class="form-group">
                <label asp-for="SubCategoria.Categoria.Titulo" class="control-label"></label>
                <select asp-for="SubCategoria.Categoria.Id" class="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>

            <div class="form-group">
                <label asp-for="SubCategoria.Titulo" class="control-label"></label>
                <input asp-for="SubCategoria.Titulo" class="form-control" />
                <span asp-validation-for="SubCategoria.Titulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
