@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-5">
    <h1>Área Administrativa</h1>
</div>

<div class="d-flex justify-content-center">
    <a class="btn btn-secondary w-25 mb-3" asp-area="" asp-controller="Livros" asp-action="Index">Livros</a>
</div>
<div class="d-flex justify-content-center">
    <a class="btn btn-secondary w-25 mb-3" asp-area="" asp-controller="Autores" asp-action="Index">Autores</a>
</div>
<div class="d-flex justify-content-center">
    <a class="btn btn-secondary w-25 mb-3" asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a>
</div>
<div class="d-flex justify-content-center">
    <a class="btn btn-secondary w-25 mb-3" asp-area="" asp-controller="SubCategorias" asp-action="Index">Subcategorias</a>
</div>
