/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}


/******************************************************************************************************************************************/
/******************************************************************************************************************************************/
/******************************************************************************************************************************************/
/******************************************************************************************************************************************/
/******************************************************************************************************************************************/
/******************************************************************************************************************************************/

header {
    background-color: #FFAA60;
    color: white;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown {
    background-color: #FFAA60;
    color: white;
}

    .dropdown:hover, .dropdown-item, .dropdown-item:hover {
        background-color: #FF9639;
        color: white;
    }

.cor-primaria {
    background-color: #FFAA60;
}

header {
    background-color: #FFAA60;
    color: white !important;
}

.info-inicial, area-livro {
    width: 50%;
    float: right;
}

.preco {
    background-color: #f2f0ee;
}

.preco-div {
    border: solid 1px #f2f0ee;
}

.img-logo {
    background-color: white;
    width: 10px;
}

.section {
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
}

.main-color {
    background-color: #fbfaf9;
}

.section-escura {
    background-color: #666;
}

.p-section-escura {
    font-size: 20px;
    color: #fbfaf9;
}

.img-autor{
    max-width: 100px;
}

.img-book-index {
    max-width: 200px;
}
